<mat-label>Edit</mat-label>
<div class="mega" [formGroup]="form">
    <div class="container">
        <mat-form-field class="ancho" appearance="outline" color="primary">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" autocomplete="off" value="{{user.first_name}}">
            <mat-icon matSuffix style="color: black;" class="icon">mood-happy</mat-icon>
        </mat-form-field>
        <mat-form-field class="ancho" appearance="outline" color="primary">
            <mat-label> {{user.last_name}} </mat-label>
            <input matInput formControlName="lastName" autocomplete="off">
            <mat-icon matSuffix style="color: black;" class="icon">mood-happy</mat-icon>
        </mat-form-field>
        <mat-form-field (keypress)="keyPress($event)" class="ancho" appearance="outline" color="primary">
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phonenumber" autocomplete="off">
            <mat-icon matSuffix style="color: black;" class="icon">phone</mat-icon>
        </mat-form-field>

        <mat-form-field *ngIf="is_admin" class="ancho" appearance="fill">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="animalControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let animal of animals" [value]="animal">
                    {{animal.name}}
                </mat-option>
            </mat-select>


        </mat-form-field>


        <mat-form-field class="ancho" appearance="outline" color="primary">
            <mat-label>user</mat-label>
            <input matInput formControlName="username" autocomplete="off">
            <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
        <mat-form-field class="ancho" appearance="outline" color="primary">
            <mat-label>password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="ancho" appearance="outline" color="primary">
            <mat-label>Email</mat-label>
            <input matInput type='email' formControlName="email" autocomplete="off">
            <mat-icon matSuffix class="icon">mail</mat-icon>
        </mat-form-field>

        <br>

    </div>
    <div class="container2">
        <h3>Classes</h3>
        <div class="container3">
            <mat-form-field appearance="fill">
                <mat-label>Languages</mat-label>
                <mat-select formControlName="toppings" multiple>

                    <mat-option *ngFor="let topping of toppingList" [value]="topping">
                        {{topping.language+' -level- '+topping.level+' - '+topping.teacher }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
             

        </div>
        <div class="container3">
            <mat-form-field appearance="fill" >
                <mat-label>List</mat-label>
                <mat-select formControlName="people" multiple>

                    <mat-option *ngFor="let person of peopleList" [value]="person">{{person.first_name+' '+person.last_name+'
                        '+'-'+person.username }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Groups</mat-label>
            <mat-select formControlName="groups" multiple>

                <mat-option *ngFor="let g of groupList" [value]="g">
                    {{g.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="ancho" appearance="outline" color="primary">
            <mat-label>Form</mat-label>
            <input matInput type='text' formControlName="form" autocomplete="off">
            <mat-icon matSuffix class="icon"></mat-icon>
        </mat-form-field>

        <mat-form-field class="ancho" appearance="outline" color="primary">
            <mat-label>Payment Link</mat-label>
            <input matInput type='email' formControlName="pay" autocomplete="off">
            <mat-icon matSuffix class="icon">mail</mat-icon>
        </mat-form-field>
    </div>
</div>
<button class="btn" (click)="save(form.value)" mat-flat-button [disabled]="form.invalid" color="warn">Register</button>