<div class="container">
    <mat-toolbar class="tool">
        <button mat-icon-button color="primary" (click)="home()"
                        aria-label="Example icon button with a home icon">
                        <mat-icon>home</mat-icon>
                      </button>
    <h2 style="color: white;">Lingua Zone</h2>

    </mat-toolbar>
    <div class="sub">
        <div class="table">
            <mat-form-field class="filter" appearance="standard">
                <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
                </mat-form-field>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 datatable" matSort>
                <ng-container matColumnDef="language">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="level"> Language </th>
                  <td mat-cell *matCellDef="let element"> {{element.language}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="teacher">
                  <th mat-header-cell *matHeaderCellDef> Teacher </th>
                  <td mat-cell *matCellDef="let element"> {{element.teacher}} </td>
                </ng-container>
            
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" style="text-align: right;">
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>home</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" (click)="edit(element.id)"
                        aria-label="Example icon button with a home icon">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" (click)="delete(element.id)"
                        aria-label="Example icon button with a home icon">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="filter2"></mat-paginator>
        </div>
        <div class="form">
            <form [formGroup]="form" (ngSubmit)="post()" >
            <mat-form-field class="ancho" appearance="outline" color="primary">
                <mat-label>Teacher</mat-label>
                <input matInput type='text' autocomplete="off" formControlName="teacher">
                <mat-icon matSuffix class="icon"  ></mat-icon>
            </mat-form-field><br>
            <mat-form-field class="ancho" appearance="outline" color="primary">
                <mat-label>Language</mat-label>
                <input matInput type='text' autocomplete="off" formControlName="language" >
                <mat-icon matSuffix class="icon"></mat-icon>
            </mat-form-field><br>
            <mat-form-field class="ancho" appearance="outline" color="primary">
              <mat-label>Level</mat-label>
              <input matInput type='text' autocomplete="off" formControlName="level" >
              <mat-icon matSuffix class="icon"></mat-icon>
          </mat-form-field><br>
            <mat-form-field class="ancho" appearance="outline" color="primary">
              <mat-label>Link</mat-label>
              <input matInput type='text' autocomplete="off" formControlName="link" >
              <mat-icon matSuffix class="icon"></mat-icon>
          </mat-form-field>
            <br>
            <mat-form-field class="ancho" appearance="outline" color="primary">
              <mat-label>Username</mat-label>
              <input matInput type='text' autocomplete="off" formControlName="usn" >
              <mat-icon matSuffix class="icon"></mat-icon>
          </mat-form-field>
            <button class="ancho btn" mat-flat-button [disabled]="form.invalid" color="warn" >Save</button>
        </form>
        </div>
        
    </div>
</div>