<div class="container">
    <h2>Edit a class</h2>
    <form [formGroup]="form" (ngSubmit)="post()" >
        <mat-form-field class="ancho" appearance="outline" color="primary">
            <mat-label>Teacher</mat-label>
            <input matInput type='text' autocomplete="off" formControlName="teacher">
            <mat-icon matSuffix class="icon"  ></mat-icon>
        </mat-form-field><br>
        <mat-form-field class="ancho" appearance="outline" color="primary">
            <mat-label>Language</mat-label>
            <input matInput type='text' autocomplete="off" formControlName="language" >
            <mat-icon matSuffix class="icon"></mat-icon>
        </mat-form-field><br>
        <mat-form-field class="ancho" appearance="outline" color="primary">
          <mat-label>Level</mat-label>
          <input matInput type='text' autocomplete="off" formControlName="level" >
          <mat-icon matSuffix class="icon"></mat-icon>
      </mat-form-field><br>
        <mat-form-field class="ancho" appearance="outline" color="primary">
          <mat-label>Link</mat-label>
          <input matInput type='text' autocomplete="off" formControlName="link" >
          <mat-icon matSuffix class="icon"></mat-icon>
      </mat-form-field><br>
      <mat-form-field class="ancho" appearance="outline" color="primary">
        <mat-label>Username</mat-label>
        <input matInput type='text' autocomplete="off" formControlName="usn" >
        <mat-icon matSuffix class="icon"></mat-icon>
    </mat-form-field>
        <br>
        <button class="ancho btn" mat-flat-button [disabled]="form.invalid" color="warn" >Save</button>
    </form>
</div>
